.judul{
    text-align: center;
}

.judul_extra{

    text-align: center;
}

body{
    background-color: lightblue;
    font-size: 2em;
}

p{
    font-size: 2em;
}

.sign{
    text-align: center;
}

.input{
    width: 100%;
    font-size: 2em;
}

.input_nama{
    width: 100%;
    font-size: 2em;
}

.submit{
    width: 100%;
    font-size: 2em;
}

.signout{
    width: 15%
}

.postingan{
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

table, td, tr{
    border: 1px solid black;
} 

table {
    width: 100%;
    text-align: center;
}

.someku{
    padding-top: 1%;
    padding-right: 15%;
}